<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036722190154-2f10342m1fv3mrmjurb3e8bedmmq2vhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036722190154-2f10342m1fv3mrmjurb3e8bedmmq2vhs</string>
	<key>API_KEY</key>
	<string>AIzaSyD8VuSXDwZVyjGt-YO8qGFPeMBN8QxIVAs</string>
	<key>GCM_SENDER_ID</key>
	<string>1036722190154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalapp</string>
	<key>PROJECT_ID</key>
	<string>sehatgah-e3a20</string>
	<key>STORAGE_BUCKET</key>
	<string>sehatgah-e3a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036722190154:ios:b145ed2cbbd2cf9ba973b3</string>
</dict>
</plist>